<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /white-hat-dev/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /white-hat-dev/index.html [L]
</IfModule>
